<span ng-init="bannerImage = meta().settings.banner"></span>
<div ng-if="!vm.page.home">
  <section class="page-masthead" ng-show="(!vm.page_loading && !vm.page.featured_image) && !vm.page.error && (vm.page.feature == 'page' || vm.page.feature == 'agenda' || vm.page.feature == 'sponsors' || vm.page.feature == 'speakers' || vm.page.feature == 'videos')" style="background-image: url({{meta().settings.banner}});">
    <div class="page-masthead-screen"></div>
    <div class="container">
      <h1 class="page-masthead-title" ng-bind-html="vm.page.label | sanitize"></h1>
      <div class="page-masthead-body" ng-if="vm.page.summary" ng-bind-html="vm.page.summary | sanitize"></div>
    </div>
  </section>
  
  <section class="page-masthead" ng-show="(!vm.page_loading && vm.page.featured_image) && !vm.page.error && (vm.page.feature == 'page' || vm.page.feature == 'agenda' || vm.page.feature == 'sponsors' || vm.page.feature == 'speakers' || vm.page.feature == 'videos')" style="background-image: url({{vm.page.featured_image.self}});">
    <div class="page-masthead-screen"></div>
    <div class="container">
      <h1 class="page-masthead-title" ng-bind-html="vm.page.label | sanitize"></h1>
      <div class="page-masthead-body" ng-if="vm.page.summary" ng-bind-html="vm.page.summary | sanitize"></div>
    </div>
  </section>

  <div class="loading" ng-show="vm.page_loading"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>

  <div class="post" ng-class="{'full-mod': vm.page.feature == 'page'}">
    <div class="post-main" ng-class="{'page-mod': vm.page.feature == 'page'}">
      <div ng-class="{'container': vm.page.feature != 'blog' && vm.page.feature != 'sponsors'}">
        <div ng-class="{'row': vm.page.feature != 'blog' && vm.page.feature != 'sponsors'}">
          <div ng-class="{'col-md-8': vm.page.sidebar}">
            
            <div ng-show="vm.page.error">
              <div class="page-error">
                <h1>{{vm.page.error.title}}</h1>
                <p>{{vm.page.error.message}}</p>  
              </div>
            </div>

            <div ng-show="vm.page.feature == 'page' && !vm.page.rendered_html" class="post-content"
                 ng-bind-html="vm.page.body | sanitize"></div>
            <div ng-show="vm.page.feature == 'page' && vm.page.rendered_html" class="post-content"
                 ng-bind-html="vm.page.rendered_html | sanitize"></div>
            <div ng-if="vm.page.feature == 'agenda'" agenda></div>
            <div ng-if="vm.page.feature == 'speakers'" speakergroups></div>
            <div ng-if="vm.page.feature == 'speakers'" speakers></div>
            <div ng-if="vm.page.feature == 'videos'" videos></div>
            <div ng-if="vm.page.feature == 'sponsors'" sponsors></div>
            <div ng-if="vm.page.feature == 'blog'" blog></div>

          </div>
          <div class="col-md-4" ng-if="vm.page.sidebar">
            <div ng-include=" THEME_URI + 'templates/components/newsletter.tpl.html' " ng-init="newsletterId=2"></div>
            <div advertisement></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.page.home" ng-init="bannerImage = meta().settings.banner">
  <section class="page-masthead home-mod" style="background-image: url({{meta().settings.banner}});" ng-if="!vm.page_loading && !vm.page.featured_image">
    <div class="page-masthead-screen"></div>
    <div class="container">
      <h1 class="page-masthead-title" ng-bind-html="vm.page.label | sanitize"></h1>
      <div class="page-masthead-body" ng-if="vm.page.body" ng-bind-html="vm.page.body | sanitize"></div>
    </div>
  </section>
  
  <section class="page-masthead home-mod" style="background-image: url({{vm.page.featured_image.self}});" ng-if="!vm.page_loading && vm.page.featured_image">
    <div class="page-masthead-screen"></div>
    <div class="container">
      <h1 class="page-masthead-title" ng-bind-html="vm.page.label | sanitize"></h1>
      <div class="page-masthead-body" ng-if="vm.page.body" ng-bind-html="vm.page.body | sanitize"></div>
    </div>
  </section>

  <div homepage></div>
</div>
