<article class="post full-mod">
  <header class="post-header" ng-if="!vm.post.error">
    <div class="container">
      <h1 ng-bind-html="::vm.post.title | sanitize" ng-cloak></h1>

      <ul class="post-meta list-unstyled list-inline">
        <li class="post-meta-published" ng-cloak>Posted <b>{{::vm.post.published | date: 'MMMM d'}}</b> By <b>{{::vm.post.author.title}}</b></li>
        <li ng-if="vm.post.categories" class="post-meta-categories" ng-cloak>
          <!-- TODO: Dynamically get blog page. -->
          Category: <a ng-href="{{getBlogPage()}}?category={{vm.post.categories.name}}"><b>{{vm.post.categories.name}}</b></a>
        </li>
      </ul>
    </div>
  </header>

  <div class="post-quote" ng-if="vm.post.featured_image.self" style="background-image: url({{vm.post.featured_image.self}});" ng-cloak>
    <div class="post-quote-screen"></div>
  </div>

  <div class="post-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div ng-show="vm.post.error">
            <div class="page-error">
              <h1>{{vm.post.error.title}}</h1>
              <p>{{vm.post.error.message}}</p>
            </div>
          </div>

          <div class="post-content" ng-cloak>
            <div ng-bind-html="::vm.post.body | sanitize"></div>

            <div class="social-share" ng-show="vm.post.body">
              <div class="row">
                <div class="col-sm-6">
                  <a href="#" class="btn btn-primary btn-lg btn-block btn-facebook"
                    ng-click="$event.preventDefault();"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="feed"
                    socialshare-via="1065397456805193"
                    socialshare-display="popup"
                    socialshare-media="{{vm.post.avatar.styles[0]}}"
                    socialshare-description="{{vm.post.title}}"
                    socialshare-text="{{meta().metatags['og:site_name']}}"
                    socialshare-url="{{vm.current_domain}}/{{vm.post.alias}}"
                    socialshare-media="{{vm.post.featured_image.self}}"
                    socialshare-redirect-uri="{{vm.current_domain}}/{{vm.post.alias}}">
                    <i class="fa fa-facebook"></i> Share on Facebook
                  </a>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="btn btn-primary btn-lg btn-block btn-twitter"
                    ng-click="$event.preventDefault();"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-display="popup"
                    socialshare-text="{{vm.post.title}}"
                    socialshare-url="{{vm.current_domain}}/{{vm.post.alias}}"
                    socialshare-hashtags="{{meta().settings.social.hashtag}}">
                    <i class="fa fa-twitter"></i> Share on Twitter
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <article class="author" ng-if="vm.post.author && !vm.post.author.url">
            <header class="author-header">
              <div class="author-avatar">
                <img ng-src="{{vm.post.author.avatar.self}}" alt="Picture of {{::vm.post.author.title}}" ng-cloak ng-if="vm.post.author.avatar.self" />
              </div>
              <div class="author-meta">
                <div class="author-title" ng-cloak ng-if="vm.post.author.title">{{::vm.post.author.title}}</div>
                <div class="author-handle" ng-cloak ng-if="vm.post.author.twitter_handle">@{{::vm.post.author.twitter_handle}}</div>
              </div>
            </header>
            <div class="author-main">
              <div ng-bind-html="::vm.post.author.bio | sanitize" ng-cloak ng-if="vm.post.author.bio"></div>
            </div>
          </article>
          <article ng-if="vm.post.author.url" ng-cloak>
            <p>Author: <a href="{{::vm.post.author.url}}" title="::vm.post.author.title">{{::vm.post.author.title}}</a></p>
          </article>
          <div ng-include=" THEME_URI + 'templates/components/newsletter.tpl.html' " ng-init="newsletterId='2'"></div>
          <div advertisement></div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="vm.post.related_posts" related datasource="vm.post.related_posts"></div>
</article>
