/**
 * Main
 *
 * The main theme for the UW Conference sites.
 */

// Expose our custom variables and mixins to these stylesheets.
@import "config/variables";
@import "config/mixins";

// Expose Bootstrap variables and mixins to these stylesheets.
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

* {
  font-family: $font-family-sans-serif;
}

@import "base/buttons";
@import "base/global";
@import "base/images";
@import "base/modal";
@import "base/typography";
@import "base/lists";

@import "components/ad";
@import "components/agenda-search-bar";
@import "components/agenda";
@import "components/and-more-button";
@import "components/author";
@import "components/banner";
@import "components/embeds";
@import "components/footer";
@import "components/item-page";
@import "components/item-post";
@import "components/item-speaker";
@import "components/list-speaker";
@import "components/list-sponsor";
@import "components/list-tweets";
@import "components/list-video";
@import "components/loading";
@import "components/map";
@import "components/modal-speaker";
@import "components/nav-toggle";
@import "components/navbar";
@import "components/newsletter";
@import "components/page-masthead";
@import "components/pagination";
@import "components/post-search-bar";
@import "components/section";
@import "components/session";
@import "components/social";
@import "components/social-bar";
@import "components/sponsors-slider";
@import "components/user-login";

@import "page/base";

@import "vendor-customizations/slick";
@import "vendor-customizations/social-share";

a:focus {
  text-decoration: underline;
}
