<div class="ad" ng-if="advertisement.ad_image.self">
  <img ng-src="{{advertisement.ad_image.self}}" alt="{{advertisement.ad_image.alt}}" />

  <div class="ad-inner">
    <div class="ad-copy" ng-bind-html="advertisement.title|sanitize"></div>

    <div class="ad-action">
      <a class="btn btn-primary btn-block" ng-href="{{advertisement.link_url}}">{{advertisement.link_title}}</a>
    </div>
  </div>
</div>
