<section class="agenda">
  <div class="agenda-search-bar">
    <ul class="list-inline pull-left">
      <li ng-repeat="schedule in vm.agenda">
        <a
          href="#"
          ng-click="vm.searchByDate(schedule.date); $event.preventDefault()"
          ng-class="{active: vm.search.date == schedule.date}">
          {{schedule.date}}
        </a>
      </li>
      <li>
        <a
          href="#"
          ng-click="vm.searchByDate(''); $event.preventDefault()"
          ng-class="{active: !vm.search.date}">
          All Dates
        </a>
      </li>
    </ul>

    <ul class="list-inline pull-right filters" ng-show="vm.sessionTopics || vm.sessionTypes">
      <li>Filter by:</li>
      <li class="dropdown" dropdown ng-show="vm.sessionTypes">
        <a
          href="#"
          dropdown-toggle>
          Type <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              href="#"
              ng-click="vm.searchByType(); $event.preventDefault()"
              ng-class="{active: !vm.search.type}">
              All <span class="sr-only">types</span>
            </a>
          </li>
          <li ng-repeat="type in vm.sessionTypes">
            <a
              href="#"
              ng-click="vm.searchByType(type.id); $event.preventDefault()"
              ng-class="{active: vm.search.type == type.id}">
              {{type.label}}
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" dropdown ng-show="vm.sessionTopics">
        <a
          href="#"
          dropdown-toggle>
          Topic <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              href="#"
              ng-click="vm.searchByTopic(); $event.preventDefault()"
              ng-class="{active: !vm.search.topic}">
              All <span class="sr-only">topics</span>
            </a>
          </li>
          <li ng-repeat="topic in vm.sessionTopics">
            <a
              href="#"
              ng-click="vm.searchByTopic(topic.id); $event.preventDefault()"
              ng-class="{active: vm.search.topic == topic.id}">
              {{topic.label}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <ul class="list-unstyled">
    <li ng-repeat="schedule in vm.agenda | filter: vm.filterByDate">
      <ul class="list-unstyled">
        <li ng-repeat="session in schedule.sessions | filter: vm.filterByType | filter: vm.filterByTopic">
          <div ng-include=" '/apps/uw_theme_conference/templates/components/session.teaser.tpl.html' "></div>
        </li>
      </ul>
      <p ng-show="vm.search.date && (agenda.schedule.sessions|filter:vm.filterByType|filter:vm.filterByTopic).length == 0">
        No sessions matched your criteria
      </p>
    </li>
  </ul>
</section>
