<section class="featured-post" ng-show="vm.featuredPost && vm.featuredPost.id">
  {{post=vm.featuredPost;""}}
  <div ng-include=" '/apps/uw_theme_conference/templates/components/post.featured.tpl.html' "></div>
</section>

<div class="container">

  <section class="posts">
    <div class="post-search-bar">
      <div class="row">
        <div class="col-sm-6 post-search-bar-filters">
          <ul class="list-inline filters" ng-show="vm.categories">
            <li>{{(vm.category) ? 'Filtered By:' : 'Filter By:'}}</li>
            <li class="dropdown" dropdown>
              <a
                href="#"
                dropdown-toggle>
                {{vm.category || 'All'}} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="#"
                    ng-click="vm.searchByCategory(); $event.preventDefault()"
                    ng-class="{active: !vm.category}">
                    All <span class="sr-only">categories</span>
                  </a>
                </li>
                <li ng-repeat="category in vm.categories">
                  <a
                    href="#"
                    ng-click="vm.searchByCategory(category.name); $event.preventDefault()"
                    ng-class="{active: vm.category == category.name}">
                    {{category.name}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <form class="form post-search-form" ng-submit="vm.search()">
            <div class="form-group post-search-form-group">
              <label for="search-the-blog" class="sr-only">Search the blog</label>
              <div class="post-search-form-input">
                <input
                  id="search-the-blog"
                  type="text"
                  ng-model="vm.tempTerm"
                  placeholder="Search the blog"
                  class="form-control" />
              </div>
            </div>
            <button class="btn btn-primary btn-block post-search-form-button">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only">Submit</span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div ng-show="vm.loading" class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
    <div ng-show="vm.error"><p>{{vm.error}}</p></div>

    <ul class="list-unstyled">
      <li ng-repeat="post in vm.posts">
        <div ng-include=" '/apps/uw_theme_conference/templates/components/post.teaser.tpl.html' "></div>
      </li>
    </ul>

    <div class="pagination-controls" ng-show="vm.posts && vm.loaded < vm.count">
      <a href="" class="btn btn-primary" ng-click="vm.loadMore(); $event.preventDefault()">
        <span ng-show="vm.loading">Loading Posts...</span>
        <span ng-hide="vm.loading">Load More Posts</span>
      </a>
    </div>
  </section>
</div>
