<section class="section contentblock-mod {{classes}}" ng-if="contentBlock.title || contentBlock.body">

  <header class="section-header" ng-show="contentBlock.title">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="contentBlock.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-main" ng-show="contentBlock.body">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="contentBlock.body|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

</section>
