<section class="section agenda-mod {{classes}}" ng-if="schedules && schedules.length">

  <header class="section-header" ng-show="agenda.title">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="agenda.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="agenda.intro">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="agenda.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div class="agenda">
            <div ng-show="loading" class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
            <ul class="list-unstyled">
              <li ng-repeat="schedule in schedules">
                <ul class="list-unstyled">
                  <li ng-repeat="session in schedule.sessions">
                    <div ng-include=" '/apps/uw_theme_conference/templates/components/session.teaser.condensed.tpl.html' "></div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
