<section class="section featured-speakers-mod {{vm.classes}}" ng-if="vm.featuredSpeakers && vm.featuredSpeakers.length > 0">

  <header class="section-header" ng-show="speakers.title">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="speakers.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="speakers.intro">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="speakers.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-md-9" ng-show="vm.loading">
          <div class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
        </div>
        <div ng-repeat="speaker in vm.featuredSpeakers" class="col-md-3">
          <article class="speaker teaser-mod">
            <a href="#" ng-click="vm.showSpeaker(speaker); $event.preventDefault();">
              <header class="speaker-header">
                <div class="speaker-thumbnail">
                  <img ng-src="{{::speaker.avatar.styles.conference_speaker}}" alt="{{::speaker.label}}" tab-index="-1">
                  <div class="speaker-thumbnail-screen">
                    <span class="speaker-thumbnail-screen-text">View speaker's bio</span>
                  </div>
                </div>
                <h5><span class="speaker-first-name" ng-bind-html="::speaker.first_name | sanitize"></span> <span class="speaker-last-name" ng-bind-html="::speaker.last_name | sanitize"></span></h5>
                <h6><span class="speaker-job-title" ng-bind-html="::speaker.position | sanitize"></span><span ng-if="speaker.affiliation">, <span class="speaker-company" ng-bind-html="::speaker.affiliation | sanitize"></span></span></h6>
              </header>
            </a>
            <footer class="speaker-footer" ng-if="speaker.twitter_handle">
              <div class="speaker-handle"><a href="https://twitter.com/{{::speaker.twitter_handle}}">@{{::speaker.twitter_handle}}</a></div>
            </footer>
          </article>
        </div>
        <div class="col-md-3" ng-if="vm.showMore">
          <a ng-href="{{getSpeakersPage()}}" class="and-more-button">
            <div class="and-more-top">
              <i class="fa fa-plus"></i>
            </div>
            <div class="and-more-text"><span class="and">And</span> More</div>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
