<section class="section featuredposts-mod {{vm.classes}}" ng-if="vm.featuredPosts && vm.featuredPosts.length > 0">

  <header class="section-header" ng-show="blog.title">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="blog.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="blog.intro">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="blog.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main" ng-if="vm.layout != 'full' || (vm.layout == 'full' && !blog.featured)">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-show="vm.loading" class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
          <ul class="list-unstyled">
            <li ng-repeat="post in vm.featuredPosts">
              <article class="post featured-brief-mod" ng-if="$first && blog.featured">
                <div class="background" style="background-image: url({{post.featured_image.self}})"></div>
                <div class="screen"></div>
                <div class="post-featured-label">Featured</div>
                <div class="wrap">
                  <header class="post-header">
                    <date>{{(post.published * 1000) | date: 'longDate'}}</date>
                    <h2><a href="{{post.alias}}" ng-bind-html="post.title|sanitize"></a></h2>
                  </header>
                  <footer class="post-footer">
                    <a href="{{post.alias}}">Read More</a>
                  </footer>
                </div>
              </article>
              <article class="post brief-mod" ng-class="{'no-highlight': blog.featured, 'has-featured': blog.featured}" ng-if="(blog.featured && !$first) || !blog.featured">
                <a ng-href="{{post.alias}}">
                  <header class="post-header">
                    <date>{{(post.published * 1000) | date: 'longDate'}}</date>
                    <h2 ng-bind-html="post.title | sanitize"></h2>
                  </header>
                </a>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main" ng-if="vm.layout == 'full' && blog.featured">
    <div class="container" ng-show="vm.loading">
      <div class="row">
        <div class="col-sm-12">
          <div class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row positioned-elements">
        <div class="col-sm-6 no-padding-right">
          <article class="post featured-brief-mod full-mod" ng-if="vm.featuredPosts.length > 0">
            <div class="background" style="background-image: url({{vm.featuredPosts[0].featured_image.self}})"></div>
            <div class="screen"></div>
            <div class="post-featured-label">Featured</div>
            <div class="wrap">
              <header class="post-header">
                <date>{{(vm.featuredPosts[0].published * 1000)|date: 'longDate'}}</date>
                <h2><a herf="{{vm.featuredPosts[0].alias}}" ng-bind-html="vm.featuredPosts[0].title|sanitize"></a></h2>
              </header>
              <div class="post-main" ng-show="vm.featuredPosts[0].summary">{{vm.featuredPosts[0].summary|strip_html|truncate:true:200}}</div>
              <div class="post-main" ng-hide="vm.featuredPosts[0].summary">{{vm.featuredPosts[0].body|strip_html|truncate:true:200}}</div>
              <footer class="post-footer">
                <a href="{{vm.featuredPosts[0].alias}}">Read More</a>
              </footer>
            </div>
          </article>
        </div>
        <div class="col-sm-6 no-padding-left">
          <ul class="list-unstyled">
            <li ng-repeat="post in vm.featuredPosts" class="row-{{$index}}">
              <article class="post brief-mod full-mod" ng-class="{'no-highlight': blog.featured, 'has-featured-image': (post.featured_image && post.featured_image.self)}" ng-if="!$first && $index < 3">
                <a ng-href="{{post.alias}}">
                  <div class="wrap">
                    <div class="post-thumbnail">
                      <div class="post-thumbnail-image" style="background-image: url({{post.featured_image.self}})"></div>
                    </div>
                    <div class="post-content">
                      <header class="post-header">
                        <date>{{post.published * 1000|date: 'longDate'}}</date>
                        <h2 ng-bind-html="post.title|sanitize"></h2>
                      </header>
                      <div class="post-main" ng-show="post.summary">{{post.summary|truncate:true:150|strip_html}}</div>
                      <div class="post-main" ng-hide="post.summary">{{post.body|truncate:true:150|strip_html}}</div>
                    </div>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="section-footer" ng-class="{'has-featured': blog.featured}" ng-show="blog.button_label">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <a ng-href="{{vm.getBlogPage()}}" class="btn btn-lg btn-primary btn-block">{{blog.button_label}}</a>
        </div>
      </div>
    </div>
  </footer>



</section>
