<section class="section highlights-mod {{classes}}" ng-if="highlightVideos && highlightVideos.length">

  <header class="section-header" ng-show="videos.title">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div clss="col-sm-12">
          <h2 class="section-title" ng-bind-html="videos.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="videos.intro">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="videos.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12" ng-show="loading">
          <div class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
        </div>
        <div ng-repeat="video in highlightVideos" class="col-md-3">
          <div class='embed-container'>
            <iframe ng-src="{{video.video_url|trustsrc}}" frameborder='0' allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="section-footer" ng-show="videos.button_label">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <a ng-href="{{getVideosPage()}}" class="btn btn-primary btn-lg">{{videos.button_label}}</a>
        </div>
      </div>
    </div>
  </footer>

</section>
