<section class="section links-mod {{vm.classes}}" ng-if="vm.links && vm.links.links && vm.links.links.length > 0">

  <header class="section-header" ng-show="links.title">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="links.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="links.intro">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="links.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-show="vm.loading" class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
          <ul class="list-unstyled">
            <li ng-repeat="link in vm.links.links">
              <article class="post brief-mod link-mod">
                <a ng-href="{{link.url}}">
                  <header class="post-header">
                    <h2 ng-bind-html="link.title|sanitize"></h2>
                  </header>
                </a>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
