<section class="section location-mod no-bottom-padding {{classes}}" ng-if="mapLocation.latitude && mapLocation.longitude">

  <header class="section-header" ng-show="mapLocation.title">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="mapLocation.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="mapLocation.intro">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div clsas="col-sm-12">
          <div ng-bind-html="mapLocation.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div id="map" aria-labelled-by="map-address">
      <ng-map class="map-widget" center="{{mapLocation.latitude}},{{mapLocation.longitude}}" zoom="14"></ng-map>
    </div>
    <address id="map-address" class="sr-only">
      {{mapLocation.address}}
    </address>
  </div>

</section>
