<section class="section level-mod full-mod white-mod" ng-repeat="level in vm.levels" ng-if="level.sponsors.length > 0">
  <header class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title">{{level.label}}</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="section-main">
    <div class="container">
      <div class="row">
        <ul class="list-unstyled sponsors-list sponsors-count-{{level.sponsors.length}}">
          <li ng-repeat="sponsor in level.sponsors">
            <div class="sponsor">
              <a href="{{sponsor.link.url}}" title="{{sponsor.link.title}}">
                <img ng-if="sponsor.logo" ng-src="{{sponsor.logo.styles.conference_sponsor}}" alt="{{sponsor.logo.alt}}" />
                <span ng-if="!sponsor.logo">{{sponsor.link.title}}</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
