<section class="section tint-mod {{classes}}" ng-if="tint.id">

  <header class="section-header" ng-show="tint.title">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="tint.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="tint.intro">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="tint.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div class="tint-widget">
            <div tintembed></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
