<section class="section tweets-mod {{vm.classes}}" ng-if="vm.tweets && vm.tweets.length > 0">

  <header class="section-header" ng-show="vm.twitter.title">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" ng-bind-html="vm.twitter.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-show="vm.twitter.intro">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-bind-html="vm.twitter.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main" ng-show="vm.tweets && vm.tweets.length > 0">
    <div ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div ng-show="vm.loading" class="loader"><img src="/apps/uw_theme_conference/assets/dist/img/page-loader.gif"></div>
          <ul class="list-unstyled list-tweets">
            <li ng-repeat="tweet in vm.tweets" ng-show="$index == vm.current">
              <div class="row">
                <div class="col-md-9">
                  <article class="latest-tweet">
                    <i class="fa fa-twitter"></i>
                    <div class="latest-tweet-text" ng-bind-html="tweet.text|sanitize"></div>
                  </article>
                </div>
                <div class="col-md-3">
                  <div class="latest-tweet-meta">
                    <div class="latest-tweet-hashtag" ng-show="vm.hashtag">{{vm.hashtag}}</div>
                    <ul class="list-unstyled list-inline latest-tweet-actions">
                      <li><a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}">Reply</a></li>
                      <li><a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}">Retweet</a></li>
                    </ul>
                    <div class="latest-tweet-nav">
                      <ul class="list-unstyled">
                        <li><a ng-click="vm.previousTweet(); $event.preventDefault()"><i class="fa fa-caret-up"></i></a></li>
                        <li><a ng-click="vm.nextTweet(); $event.preventDefault()"><i class="fa fa-caret-down"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript-lazy" async src="https://platform.twitter.com/widgets.js"></script>
</section>
