/*
ul {
  .post-content &,
  .session-details-body & {
    list-style: none;
    padding-left: 0;
  }
}

li {
  .post-content &,
  .session-details-body & {
    font-weight: $font-weight-light;
    margin-bottom: 20px;
    margin-left:1.25em;
    &:before {
      font-family: 'FontAwesome';
      content: '\f054\f054';
      margin:.30em 0 0 -1.75em;
      letter-spacing: -0.25em;
      font-size:0.75em;
      float:left;
    }

    ul {
      margin-top: 20px;

      li {
        background-position: 0px 9px;
      }

    }
  }
}
*/

ol {
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: lower-roman;
    }
  }
}
