.modal-dialog {
  $modal-background-color: #202020;
  $modal-border-radius: 5px;
  $modal-color: white;
  $modal-desktop-breakpoint: 992px;
  $modal-font-size: $font-size-extra-small;
  $modal-link-color: $brand-border-color;
  $modal-link-hover-color: darken($brand-border-color, 10%);
  $modal-max-width: 1142px;

  $modal-close-color: white;
  $modal-close-width: auto;
  $modal-close-height: 50px;
  $modal-close-padding: 55px;
  $modal-close-button-background: $brand-border-color;
  $modal-close-button-background-hover: darken($brand-border-color, 10%);
  $modal-close-button-height: 50px;
  $modal-close-button-width: $modal-close-button-height;

  > .modal-content > div {
    background-color: $modal-background-color;
    border: none;
    border-radius: $modal-border-radius;
    color: $modal-color;
    position: relative;

    .modal-body {
      padding: 10px;

      a {
        color: $modal-link-color;

        &:hover,
        &:focus {
          color: $modal-link-hover-color;
        }
      }

      p {
        font-size: $font-size-extra-small;
      }
    }
  }

  &.modal-lg {
    @media screen and (min-width: $modal-desktop-breakpoint) {
      width: 90%;
      max-width: $modal-max-width;
    }
  }

  a.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    color: $modal-close-color;
    display: inline-block;
    line-height: $modal-close-height;
    height: $modal-close-height;
    padding-right: $modal-close-padding;
    text-decoration: none;
    text-transform: lowercase;

    &:focus,
    &:hover {
      color: white;
      text-decoration: none;
    }

    .modal-close-faux-button {
      position: absolute;
      top: 0;
      right: 0;

      background: $modal-close-button-background url('../img/decorators/close.png') center center no-repeat;
      border-top-right-radius: $modal-border-radius;
      display: inline-block;
      height: $modal-close-button-height;
      @include transition(all .3s ease-in);
      width: $modal-close-button-width;

      &:focus,
      &:hover {
        background-color: $modal-close-button-background-hover;
      }
    }
  }
}
