/**
 * Typography
 *
 * Override Bootstrap typogrpahy and provide additional styles.
 */

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;

  @media screen and (max-width: $container-tablet) {
    font-size: $font-size-h3;
  }

  @media screen and (max-width: $container-phone) {
    font-size: $font-size-h4;
  }
}

h2 {
 font-size: $font-size-h2;
 font-weight: $font-weight-h2;

 @media screen and (max-width: $container-tablet) {
   font-size: $font-size-h4;
 }

 @media screen and (max-width: $container-phone) {
   font-size: $font-size-h5;
 }
}

h3 {
 font-size: $font-size-h3;
 font-weight: $font-weight-h3;

 @media screen and (max-width: $container-tablet) {
   font-size: $font-size-h5;
 }

 @media screen and (max-width: $container-phone) {
   font-size: $font-size-h6;
 }
}

h4 {
 font-size: $font-size-h4;
 font-weight: $font-weight-h4;

 @media screen and (max-width: $container-tablet) {
   font-size: $font-size-h6;
 }

 @media screen and (max-width: $container-phone) {
   font-size: $font-size-h6;
 }
}

h5 {
 font-size: $font-size-h5;
 font-weight: $font-weight-h5;

 @media screen and (max-width: $container-tablet) {
   font-size: $font-size-medium;
 }

 @media screen and (max-width: $container-phone) {
   font-size: $font-size-small;
 }
}

h6 {
 font-size: $font-size-h6;
 font-weight: $font-weight-h6;

 @media screen and (max-width: $container-tablet) {
   font-size: $font-size-small;
 }

 @media screen and (max-width: $container-phone) {
   font-size: $font-size-extra-small;
 }
}

p, li, dd, dt, blockquote {
 .post-content & {
   font-size: $font-size-medium;
   font-weight: $font-weight-light;

   &.lead {
     font-size: $font-size-large;
     font-weight: $font-weight-normal;
   }

   &.caption {
     font-size: $font-size-extra-small;
     font-style: italic;
   }

   @media screen and (max-width: $container-tablet) {
     font-size: 16px;

     &.lead {
       font-size: $font-size-small;
     }

     &.caption {
       font-size: 14px;
     }
   }
 }
}

p + p.caption {
 margin-top: -$grid-gutter-width;
}

a {
 color: $brand-primary;
 cursor: pointer;

 &:focus {
   outline: none;

   img {
    opacity: 0.8;
   }
 }

 &:hover,
 &:focus {
   color: darken($brand-primary, 10%);
   text-decoration: underline;
 }
}

a:focus {
 outline: none;
}

a{
 .agenda & , .post-content &{
   text-decoration:underline;
 }
}
