.slick-slider {
  $slick-dots-background: transparent;
  $slick-dots-background-active: #767676;
  $slick-dots-border-color: $slick-dots-background-active;
  $slick-dots-height: 16px;
  $slick-dots-width: $slick-dots-height;
  $slick-dots-height-tablet: 8px;
  $slick-dots-width-tablet: $slick-dots-height-tablet;
  $slick-dots-height-phone: 4px;
  $slick-dots-width-phone: $slick-dots-height-phone;

  margin-bottom: 0;

  .slick-dots {

    @media screen and (max-width: 990px) {
      display:none !important;
    }

    li {
      width: 16px;
      height: 16px;

      @media screen and (max-width: 990px) {
        width: 8px;
        height: 8px;
        margin: 0 2px;
      }
    }

    li button {
      width: 16px;
      height: 16px;
      padding: 0;

      @media screen and (max-width: 990px) {
        width: 8px;
        height: 8px;
      }

      &:before {
        background-color: $slick-dots-background;
        border: 2px solid $slick-dots-border-color;
        overflow: hidden;
        text-indent: -9999em;
        height: $slick-dots-width;
        width: $slick-dots-height;
        border-radius: 50%;
        @include transition(all .3s linear);

        @media screen and (max-width: 990px) {
          border: 1px solid $slick-dots-border-color;
          height: $slick-dots-height-tablet;
          width: $slick-dots-width-tablet;
        }

        @media screen and (max-width: $container-phone) {
          height: $slick-dots-height-phone;
          width: $slick-dots-width-phone;
        }
      }
    }

    li.slick-active button {
      &:before {
        background-color: $slick-dots-background-active;
      }
    }
  }
  .slick-prev,
  .slick-next {
    display:inline-block !important;
    margin-top: -20px;
    height: auto;
    width: auto;
    @media screen and (min-width: 990px) {
      display: none !important;
    }
    @media screen and(max-width: 480px){
      margin-top: -10px;
    }
    &:before{
      color: #CCC;
      font-family: FontAwesome;
      font-size: 60px;
      @media screen and(max-width: 480px){
        font-size:40px;
      }
    }
  }
  .slick-prev{
    left: 15px;
    &:before{
      content: "\F053";
    }
  }
  .slick-next{
    right: 15px;
    &:before{
      content: "\F054";
    }
  }
  img{
    @media screen and(max-width: 480px){
      max-width: 70%;
    } 
  }
}
