.post.full-mod {
  blockquote {
    background-color:#fafafa;
    border:none;
    color: #878787;
    text-align:center;
    font-weight:$font-weight-semibold;
    font-family:$headings-font-family;
    padding:2em;

    p {
      font-size:1.2em;
      font-weight:$font-weight-semibold;

      &:before {
        content:"“";
      }

      &:after {
        content:"”";
      }

    }

    .author {
      text-transform:uppercase;
      border:none;
      font-size:1.05em;
    }

    .title {
      font-weight:$font-weight-normal;
      font-size:1.05em;
    }
  }

  .post-content {
    .container {
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }
  }

  a {
    color: $brand-primary;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: darken($brand-primary, 10%);
      text-decoration: underline;
    }
  }
}

.page-error {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
