<nav class="navbar navbar-inverse" ng-class="{'active': menuShown}" id="main-menu">
  <div class="container">
    <ul class="nav navbar-nav">
      <li ng-repeat="item in menu().items">
        <a href="{{(item.alias) ? item.alias : ' '}}" ng-class="{'active': $stateParams.slug == item.alias}">{{item.label}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="mobile-trigger">
  <a href="" ng-click="$event.preventDefault(); mobileMenu('trigger')" ng-class="{'active': menuShown}" id="nav-toggle" data-target="#main-menu" aria-expanded="{{menuShown}}">
    <span></span>
    <span class="sr-only">Menu</span>
  </a>
</div>
