<article class="post related-mod">
  <header class="post-header">
    <div class="post-thumbnail">
      <a ng-href="{{post.alias}}" title="{{post.title}}">
        <img ng-src="{{::post.featured_image.self}}" alt="" role="presentation">
      </a>
    </div>
    <h4><a ng-href="{{post.alias}}" ng-bind-html="::post.title | sanitize"></a></h4>
    <h5>{{::post.subtitle}}</h5>
  </header>
</article>
