<a ng-href="{{post.alias}}">
  <article class="post teaser-mod">
    <div class="row">
      <div class="col-md-4" ng-if="post.featured_image.self">
        <div class="post-thumbnail">
          <img ng-src="{{post.featured_image.self}}" alt="{{post.title}}" role="presentation">
        </div>
      </div>
      <div class="col-md-8" ng-class="{'col-md-8': post.featured_image.self, 'col-md-12': !post.featured_image.self}">
        <header class="post-header">
          <date>{{(post.published * 1000) | date: 'longDate' }}</date>
          <h2 ng-bind-html="post.title | sanitize"></h2>
        </header>
        <div class="post-main">
          <p>{{post.body|truncate:true:300|strip_html}}</p>
        </div>
      </div>
    </div>
  </article>
</a>
