<article class="session teaser-mod teaser-condensed-mod" id="session-id-{{::session.id}}">
  <div class="row">
    <div class="col-md-3">
      <div class="session-datetime">
        <date class="session-date">{{::session.start_date}}</date>
        <time class="session-time" ng-if="session.start_time && session.end_time && session.start_time != session.end_time">{{::session.start_time}} - {{session.end_time}}</time>
        <time class="session-time" ng-if="session.start_time && session.end_time && session.start_time == session.end_time">{{::session.start_time}}</time>
        <time class="session-time" ng-if="session.start_time && !session.end_time">{{::session.start_time}}</time>
        <time class="session-time" ng-if="!session.start_time && session.end_time">{{::session.end_time}}</time>
      </div>
      <div class="session-topics" ng-if="session.topics" ng-show="false">
        <h6>Topic:</h6>
        <span ng-repeat="topic in session.topics">{{(!$last) ? topic.name + ', ' : topic.name}}</span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="session-main" ng-init="visibleDetails = (vm.activeSession == session.id) ? true : false" ng-class="{'visible-details': visibleDetails}">
        <h3 class="session-title">
          <!-- TODO: need to dynamically get the agenda page -->
          <a ng-href="{{getAgendaPage()}}?id={{::session.id}}">{{::session.title}}</a>
        </h3>
        <div class="session-excerpt" ng-if="session.summary" ng-bind-html="::session.summary | sanitize"></div>
      </div>
    </div>
  </div>
</article>
