<div class="social-bar" ng-if="meta().settings.mailchimp.action || meta().settings.social.facebook || meta().settings.social.twitter || meta().settings.social.linkedin || meta().settings.social.instagram || meta().settings.social.storify || meta().settings.social.vimeo || meta().settings.social.youtube || meta().settings.contact_information.email">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div ng-include=" '/apps/uw_theme_conference/templates/components/newsletter.tpl.html' " ng-init="newsletterId='1'"></div>
      </div>
      <div class="col-md-6">
        <div ng-include=" '/apps/uw_theme_conference/templates/components/social.tpl.html' "></div>
      </div>
    </div>
  </div>
</div>
