<article class="speaker teaser-mod">
  <a href="#" ng-click="vm.showSpeaker(speaker); $event.preventDefault();">
    <header class="speaker-header">
      <div class="speaker-thumbnail">
        <div class="mobile-speaker-trigger">
          <p>Click for speaker's bio</p>
        </div>
        <img ng-src="{{::speaker.avatar.styles.conference_speaker}}" alt="{{::speaker.label}}" tab-index="-1">
        <div class="speaker-thumbnail-screen">
          <span class="speaker-thumbnail-screen-text">View speaker's bio</span>
        </div>
      </div>
      <h5><span class="speaker-first-name" ng-bind-html="::speaker.first_name | sanitize"></span> <span class="speaker-last-name" ng-bind-html="::speaker.last_name | sanitize"></span></h5>
      <div class="speaker-footer" ng-if="speaker.twitter_handle">
        <div class="speaker-handle"><a href="https://twitter.com/{{::speaker.twitter_handle}}">@{{::speaker.twitter_handle}}</a></div>
      </div>
      <h6><span class="speaker-job-title" ng-bind-html="::speaker.position | sanitize"></span><span ng-if="speaker.affiliation">, <span class="speaker-company" ng-bind-html="::speaker.affiliation | sanitize"></span></span></h6>
    </header>
  </a>
</article>
