<section class="section sponsors-mod" ng-if="vm.sponsors.length && meta().settings.sponsors_carousel_enabled">

  <header class="section-header" ng-if="meta().settings.sponsors_carousel_title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title">{{meta().settings.sponsors_carousel_title}}</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" ng-if="meta().settings.sponsors_carousel_intro">
    <div class="container">
      <div class="row">
        <div clsas="col-sm-12">
          <div ng-bind-html="meta().settings.sponsors_carousel_intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div class="container">
      <div class="row">
        <slick infinite="true" slides-to-show=3 slides-to-scroll=3 dots="true" arrows="true" ng-if="vm.sponsors.length" responsive="[{breakpoint: 990, settings: {dots: true, slidesToShow: 1, slidesToScroll: 1}}]">
          <div ng-repeat="sponsor in vm.sponsors" class="col-md-4">
            <div class="sponsor">
              <a href="{{sponsor.link.url}}" title="{{sponsor.link.title}}">
                <img ng-if="sponsor.logo" ng-src="{{sponsor.logo.styles.conference_sponsor}}" alt="{{sponsor.logo.alt}}">
                <span ng-if="!sponsor.logo">{{sponsor.link.title}}</span>
              </a>
            </div>
          </div>
        </slick>
      </div>
    </div>
  </div>

</section>
