.ad {
  $ad-margin: 50px;
  $ad-copy-color: white;
  $ad-copy-font-weight: $font-weight-bold;
  $ad-copy-padding: 0 10px;
  $ad-inner-padding: 10px;

  margin-bottom: $ad-margin;
  position: relative;

  img {
    width: 100%;
  }

  .ad-inner {
    position: absolute;
    bottom: 0;

    padding: $ad-inner-padding;
  }

  .ad-copy {
    @extend h3;

    color: $ad-copy-color;
    font-weight: $ad-copy-font-weight;
    line-height: 1.1em;
    margin-bottom: $grid-gutter-width/2;
    padding: $ad-copy-padding;
    text-transform: uppercase;
  }
}
