.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow:
  hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videos-list {
  display: block;
  padding: $grid-gutter-width*2 $grid-gutter-width $grid-gutter-width $grid-gutter-width;

  li {
    @include make-md-column(4);
    margin-bottom: $grid-gutter-width;

    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

.embed-title {
  background-color: #F5f5f5;
  font-size: 16px;
  line-height: 1.4em;
  height: 58px;
  overflow: hidden;
  padding: 5px 10px 10px 10px;
  text-overflow: ellipsis;
  @media (max-width: 1200px){
    font-size:14px;
  }
}

.fluid-width-video-wrapper {
  padding-top:56.25% !important;
}

.vimeoWrapper, .uw_video-embed{
  max-width:768px;
  margin:0 auto;
  height:auto;
  padding-bottom:20px;
}

.vimeoWrapper-link, .uw_video-embed-link{
  text-align:center;
  margin-bottom:30px;

}

.storify iframe{
  max-width: none !important;
  width: 100% !important;
}
