.page{
  h1, h2, h3, h4, h5, h6{
    font-weight:$font-weight-bold;
  }
  h1{
    font-size:4.4em;
  }
  h2{
    font-size:3.45em;
  }
  h3{
    font-size:2.4em;
  }
  h4{
    font-size:1.85em;
  }
  h5{
    font-size:1.45em;
  }

  blockquote{
    background-color:#eeeeee;
    border:none;
    text-align:center;
    font-weight:$font-weight-semibold;
    font-family:$headings-font-family;
    padding:2em;
    p{
      font-size:1.2em;
      font-weight:$font-weight-semibold;
      &:before{
        content:"“";
      }
      &:after{
        content:"”";
      }
    }
    .author{
      text-transform:uppercase;
      border:none;
      font-size:1.05em;
    }
    .title{
      font-weight:$font-weight-normal;
      font-size:1.05em;
    }
  }
}
