.modal-speaker-card {
  $modal-speaker-card-title-font-family: $headings-font-family;
  $modal-speaker-card-title-font-size: $font-size-h3;
  $modal-speaker-card-title-font-size-tablet: $font-size-h4;
  $modal-speaker-card-title-font-size-phone: $font-size-h5;
  $modal-speaker-card-title-font-weight: $font-weight-light;
  $modal-speaker-card-title-bold-font-weight: $font-weight-bold;
  $modal-speaker-card-title-padding: 100px;
  $modal-speaker-card-handle-font-family: $font-family-base;
  $modal-speaker-card-handle-font-size: $font-size-small;
  $modal-speaker-card-handle-font-weight: $font-weight-bold;
  $modal-speaker-card-handle-color: white;

  .modal-speaker-card-title {
    font-family: $modal-speaker-card-title-font-family;
    font-size: $modal-speaker-card-title-font-size;
    font-weight: $modal-speaker-card-title-font-weight;
    margin-top: 0;
    padding-right: $modal-speaker-card-title-padding;
    text-transform: uppercase;

    b {
      font-weight: $modal-speaker-card-title-bold-font-weight;
    }

    @media screen and (max-width: $container-tablet) {
      font-size: $modal-speaker-card-title-font-size-tablet;
    }

    @media screen and (max-width: $container-phone) {
      font-size: $modal-speaker-card-title-font-size-phone;
    }
  }

  .modal-speaker-card-bio {
    margin-bottom: $grid-gutter-width;
  }

  .modal-speaker-card-handle {
    a {
      color: $modal-speaker-card-handle-color;
      font-family: $modal-speaker-card-handle-font-family;
      font-size: $modal-speaker-card-handle-font-size;
      font-weight: $modal-speaker-card-handle-font-weight;

      &:hover,
      &:focus {
        color: $modal-speaker-card-handle-color;
        text-decoration: underline;
      }
    }
  }

  .modal-speaker-card-thumbnail {
    width: 100%;

    img {
      max-width: none;
      width: 100%;
    }
  }
}
