.navbar,
.navbar-inverse {
  $navbar-color: #FFFFFF;
  $navbar-font-size: $font-size-small;
  $navbar-font-weight: 600;
  $navbar-mobile-breakpoint: 1200px;
  $navbar-nav-offset: -20px;

  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
  margin-bottom: 0;
  text-transform: uppercase;

  @media screen and (max-width: $navbar-mobile-breakpoint) {
    display: none;
    text-align: right;
    @include transition(all .3s ease-in);

    &.active {
      display: block;
      @include transition(all .3s ease-out);
    }

    .container {
      width: auto;
    }
  }

  .navbar-nav {
    margin-left: $navbar-nav-offset;

    > li > a {
      color: $navbar-color;

      &.active,
      &:hover,
      &:focus {
        color: $brand-border-color;
      }
    }

    > li > a.active {
      color: $brand-border-color;
    }
  }
}

.mobile-trigger {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
