.page-masthead {
  $page-masthead-background-color: $gray-base;
  $page-masthead-link-color: $brand-primary;
  $page-masthead-background-image-position: center center;
  $page-masthead-color: white;
  $page-masthead-title-font-family: $headings-font-family;
  $page-masthead-title-font-size: 60px;
  $page-masthead-title-font-size-tablet: $font-size-h2;
  $page-masthead-title-font-size-phone: $font-size-h3;
  $page-masthead-title-font-weight: bold;
  $page-masthead-padding: 70px 0 60px 0;
  $page-masthead-padding-tablet: 45px 0 30px 0;
  $page-masthead-padding-phone: 30px 0 15px 0;
  $page-masthead-screen-background: rgba(0, 0, 0, 0.6);
  $page-masthead-screen-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.27);
  $page-masthead-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.57);

  background-color: $page-masthead-background-color;
  // Some properities relevant when background image is uploaded by user.
  background-position: $page-masthead-background-image-position;
  background-repeat: no-repeat;
  background-size: cover;
  color: $page-masthead-color;
  padding: $page-masthead-padding;
  position: relative;
  text-align: center;

  @media screen and (max-width: $container-tablet) {
    padding: $page-masthead-padding-tablet;
  }

  @media screen and (max-width: $container-phone) {
    padding: $page-masthead-padding-phone;
  }

  .container {
    position: relative;
  }

  .page-masthead-title {
    font-family: $page-masthead-title-font-family;
    font-size: $page-masthead-title-font-size;
    font-weight: $page-masthead-title-font-weight;
    margin-bottom: $grid-gutter-width/2;
    text-shadow: $page-masthead-text-shadow;
    text-transform: uppercase;

    @media screen and (max-width: $container-tablet) {
      font-size: $page-masthead-title-font-size-tablet;
    }

    @media screen and (max-width: $container-phone) {
      font-size: $page-masthead-title-font-size-phone;
    }
  }

  .page-masthead-body {
    text-shadow: $page-masthead-text-shadow;

    @media screen and (max-width: $container-tablet) {
      font-size: 16px; // TODO: Make a variable
    }
  }

  .page-masthead-screen {
    position: absolute;
    top: 0;
    left: 0;

    background-color: $page-masthead-screen-background;
    @include box-shadow($page-masthead-screen-shadow);
    height: 100%;
    width: 100%;
  }

  & a, & a:visited, & a:active {
    color:$page-masthead-link-color;
  }

  & .btn-primary {
    background-color: transparent;
    border-color: $brand-primary;
    border-width: 2px;
    padding: .5em 2.5em;
    color:#FFF !important;
    &:hover {
      background-color: $brand-primary;
      color: #252525 !important;
    }
  }
}

