.section {
  $section-font-family: $font-family-sans-serif;
  $section-font-size: 20px;
  $section-title-font-size: 40px;
  $section-font-weight: 300;
  $section-title-border: 2px solid #e9e9e9;
  $section-padding: $grid-gutter-width*2;
  $section-background: #FFFFFF;
  $section-alt-background: #F5F5F5;
  $section-dark-background: #757575;

  background-color: $section-background;
  font-family: $section-font-family;
  font-size: $section-font-size;
  font-weight: $section-font-weight;
  padding: $section-padding 0;

  @media (max-width:990px){
    padding: $section-padding/2 0;
  }

  b {
    font-weight: normal;
  }

  div {
    p:last-child {
      margin-bottom: 0;
    }
  }

  &.no-bottom-padding {
    padding-bottom: 0;
  }

  &.gray-mod {
    background-color: $section-alt-background;
  }

  &.dark-gray-screen-mod,
  &.gray-screen-mod {
    position: relative;
  }

  &.dark-gray-screen-mod:before,
  &.gray-screen-mod:before {
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    right: -15px;
    background-color: $section-alt-background;
    content: "";
  }

  &.dark-gray-screen-mod.left-mod:before {
    left: -2000px;
  }

  &.dark-gray-screen-mod.right-mod:before {
    right: -2000px;
  }

  &.dark-gray-screen-mod:before {
    background-color: $section-dark-background;
    color: white !important;
  }

  &.dark-gray-screen-mod,
  &.dark-gray-mod {
    background-color: $section-dark-background;

    h1, h2, h3, h4, h5, h6,
    p,
    ol, ul, dl,
    blockquote,
    cite,
    date {
      color: white !important;
    }
  }

  &.speakers-mod {
    padding-bottom: 0; // Because list items inside have margin bottom.
  }

  &.all-speakers-mod {
    padding-top: 0;
  }

  &.location-mod {
    .section-main {
      @media (max-width:990px){
        padding-left: $section-padding;
        padding-right: $section-padding;
      }
    }
  }

  &.sponsors-mod {
    overflow-x: hidden;
    padding: $grid-gutter-width*2 0 $grid-gutter-width*3 0;
  }

  .section-header {
    text-align: center;
  }

  &.half-mod .section-header {
    text-align: left;
  }

  .section-intro {
    margin: 0 0 $grid-gutter-width 0;
    text-align: center;
  }

  &.half-mod .section-intro {
    text-align: left;
  }

  .newsletter {
    margin-bottom: 0;
  }

  .section-main {
    text-align: center;

    .align-left {
      text-align: left;
    }

    .row + .row {
      padding-top: $grid-gutter-width;
    }
  }

  &.half-mod .section-main {
    text-align: left;
  }

  &.agenda-mod .section-main {
    text-align: left;

    .agenda {
      padding: 0;

      ul {
        margin: 0;
        padding: 0;
      }
    }

    .session.teaser-mod .session-main {
      padding: 0;

      a {
        color: $text-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li:last-child .session.teaser-mod {
      margin-bottom: 0;
    }
  }

  .section-footer {
    padding-top: $grid-gutter-width*2;
    text-align: center;
  }

  &.half-mod .section-footer {
    text-align: left;
  }

  &.half-mod.featuredposts-mod .section-footer {
    text-align: center;
  }

  &.featuredposts-mod .section-footer {
    padding-top: 0;
  }

  .section-title {
    border-bottom: $section-title-border;
    display: inline-block;
    //font-size: $section-title-font-size;
    line-height: 1em;
    margin: 0 0 $grid-gutter-width 0;
    padding: 0 0 $grid-gutter-width/2 0;
    text-transform: uppercase;
  }

  &.sponsors-mod .section-title {
    margin-bottom: 0;
  }
}

section.full-mod.white-mod + section.full-mod.white-mod,
div[dataclasses="full-mod white-mod"] + div[dataclasses="full-mod white-mod"] {
  .section {
    padding-top: 0 !important; // Collapse top padding on second block because it is flush against it.
  }
}

section.full-mod.white-mod + section.full-mod.white-mod {
  padding-top: 0 !important; // Collapse top padding on second block because it is flush against it.
}
