.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  align-items: center;
  justify-content: center;
  
  .slick-slide {
    .sponsor {
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}