.user-login {
  background-color: #3F3F3F;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  text-align: right;

  a {
    color: white;
  }

  a:hover,
  a:focus {
    color: white;
    text-decoration: underline;
  }

  a.back-to-top {
    position: absolute;
    top: -15px;
    left: 50%;

    background-color: #3F3F3F;
    border-radius: 50%;
    color: #EAEAEA;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-left: -15px;
    text-align: center;
    @include transition(background-color .3s ease-in-out);
    width: 30px;
  }

  a.back-to-top:hover,
  a.back-to-top:focus {
    background-color: #000000;
    text-decoration: none;
  }
}
